html {
    scroll-behavior: smooth;
  }
/* Custom styles */
body {
    font-family: Arial, sans-serif;
}

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* Additional custom styling for sections */
section {
    margin-bottom: 50px;
}

section h2 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    section h2 {
        font-size: 2rem;
    }
}

table {
    width: 80%; /* Set the width of the table */
    margin: 0 auto; /* Center the table horizontally */
    border-spacing: 10; /* Set spacing between table cells */
}

td {
    padding: 3px; /* Add padding inside table cells */
    text-align: center; /* Center-align text inside table cells */
    font-size: 14px;
}
tr:first-child + tr {
    border-spacing: 20px 0; /* Larger vertical spacing after the first row */
}

.certification-link {
    background-color: #fff; /* Default button background color */
    color: #007bff; /* Default button text color */
    border: 2px solid #007bff; /* Default button border color */
    padding: 5px 10px; /* Adjusted padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Adjusted font size */
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.certification-link:hover {
    background-color: #007bff; /* Button color on hover */
    color: #fff; /* Text color on hover */
}

/* Optional: To increase the contrast on hover */
.certification-link:hover {
    border-color: #0056b3; /* Border color on hover */
}

.certification-list li {
    margin-bottom: 10px; /* Adjusted margin bottom */
}

/* Define the size for smaller images */
.smaller-image {
    max-width: 150px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
}


